
<html>
<head>
    <title>About</title>

</head>
<body>

        <h1>About This Project</h1>

        <p>
            This Django-based web application is a demonstration of a <strong>full-stack automated software deployment system</strong>.
            The project is built to reflect real-world DevOps practices by integrating Continuous Integration, Continuous Deployment (CI/CD),
            automated testing, containerization, and monitoring.
        </p>

        <a href="/">Home</a>
        <a href="/contact/">Contact</a>

</body>
</html>